.nav{
    background-color: #050510;
    overflow: hidden;
}

.linkNav{
    text-decoration: none;
    margin-top: 3px;
    margin-right:  1rem;
    margin-left:  1rem;
    float: left;
    color: #5e5dcd;
}

.linkNav:hover{
    cursor: pointer;
    color: #008CBA;
}